/* ***************************************** */
/* HEADER */
/* ***************************************** */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdfdfd;

  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 7.2rem;
}

/* ***************************************** */
/* NAVIGATION */
/* ***************************************** */

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #070feb;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fdfdfd;
  background-color: #070feb;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #1c2f7a;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background-color: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAVIGATION */

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/* ***************************************** */
/* HERO SECTION */
/* ***************************************** */

.section-hero {
  background-color: #fdfdfd;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.text-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  text-align: center;
}
.hero-img {
  width: 100%;
}

.person-web {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.person-cust {
  display: flex;
}

.person-cust img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdfdfd;
}

.person-cust img:last-child {
  margin: 0;
}

.web-text {
  font-size: 1.8rem;
}

.web-text span {
  color: #070feb;
  font-weight: 700;
}
/* ***************************************** */
/* CTA SECTION */
/* ***************************************** */
.section-cta {
  padding: 4.8rem 0 12.8rem;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  background-image: linear-gradient(to right bottom, #070feb, #859ef3);
  overflow: hidden;
}
.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #070707;
}
.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}
.cta .heading-secondary {
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(7, 15, 235, 0.89),
      rgba(133, 159, 243, 0.637)
    ),
    url("../img/website.jpg");
  background-size: cover;
  background-position: center;
}
.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form textarea {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #eee;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.01);
}

.register-link:link,
.register-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #070707;
  transition: all 0.3s;
}
.register-link:hover,
.register-link:active {
  color: #fdfdfd;
}

.footer-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}
.footer-form input {
  width: auto;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #eee;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.01);
}
/* ***************************************** */
/* ABOUT SECTION */
/* ***************************************** */

/* mengatur ukuran grid */
/* .grid--about {
  grid-template-columns: 1fr 1fr 1fr;
} */
.section-featured,
.section-carousel {
  padding: 4.8rem 0;
}
/* .about-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.service-description {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  color: #767676;
} */

.feature-icon {
  color: #070feb;
  height: 3.2rem;
  width: 2.4rem;
  background-color: #eee;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
}

.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

.feature-service--box {
  box-shadow: 0 4px 8px 0 rgba(2, 47, 247, 0.068);
  background-color: #ebebf5;
  transition: all 0.4s;
  border-radius: 9px;
  padding: 30px 28px 28px 28px;
}

.feature-service--box:hover {
  transform: translateX(1.2rem);
  box-shadow: 3px 4px 25px 0 rgba(12, 8, 247, 0.966);
}
/* ***************************************** */
/* TEAM SECTION */
/* ***************************************** */
.team-img {
  width: 100%;
  border-radius: 5%;
  margin-bottom: 30px;
}

.team-name {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
  text-align: center;
}

.team-job {
  font-size: 1.8rem;
  line-height: 1.8;
  text-align: center;
}
.contact-team-detail {
  text-align: center;
  margin-bottom: 1rem;
}
.team-link:link,
.team-link:visited {
  text-decoration: none;
  font-size: 1.8rem;
  color: #767676;
  transition: all 0.3s;
  text-align: center;
}
.team-link:hover,
.team-link:active {
  color: #070feb;
}

/* ***************************************** */
/* FOOTER SECTION */
/* ***************************************** */
.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}
/* mengatur ukuran grid */
.grid--footer {
  grid-template-columns: 2fr 1.5fr 1fr 2fr 1fr;
}
.logo-col {
  display: flex;
  flex-direction: column;
}
.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}
.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}
.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}
.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}
.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}
.address {
  margin-bottom: 2.4rem;
}
.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}
.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}
.footer-link:hover,
.footer-link:active {
  color: #070feb;
}

.footer-description {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  color: #767676;
}

/* ***************************************** */
/* SPINNER SECTION */
/* ***************************************** */

.lds-spinner {
  color: official;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fdfdfd;
  transition: opacity 1s, visibility 1s;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #2702f8;
}
.ids-spinner--hidden {
  opacity: 0;
  visibility: hidden;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
